@import '../../App.css';

/*Nút bấm mặc định*/
.btn {
    padding: 8px 20px;
    border-radius: 24px;
    background-color: var(--umwelt-dark);
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

/*Nút bấm lõi*/
.btn--primary {
    background-color: var(--umwelt-dark);
    color: var(--primary);
    transition: all 0.3s ease-out;
}

/*Nút bấm viền*/
.btn--outline {
    background-color: transparent;
    color: var(--umwelt-dark);
    padding: 8px 20px;
    border: 1px solid var(--umwelt-dark);
    transition: all 0.3s ease-out;
}

/*Kích thước nút bấm*/
.btn--medium {
    width: 128px;
    padding: 8px 18px;
    font-size: 12px;
}

.btn--large {
    width: 198px;
    padding: 12px 20px;
    font-size: 15px;
}

.btn--extra--large {
    width: 224px;
    padding: 16px 24px;
    font-size: 24px;
}

.btn--primary:hover:enabled {
    background-color: var(--primary);
    color: var(--umwelt-green);
}

.btn--outline:hover:enabled {
    background-color: var(--umwelt-dark);
    color: var(--primary);
}

.btn:disabled {
    background-color: var(--umwelt-dark-green);
    cursor: default;
}