@import '../../App.css';

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--umwelt-green);
    height: 80px;
    width: 100%;
    top: 0;
    font-size: 1.2rem;
    position: sticky;
    z-index: 1;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.navbar-logo {
    display: flex;
    justify-self: start;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
}

.logo {
    margin-left: 8px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-gap: 0;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    height: 80px;
}

.nav-links {
    color: var(--umwelt-dark);
    font-size: 14px;
    font-weight: bold;
    display: flex;
    border: 2px solid var(--umwelt-green);
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    transition: all 0.2s ease;
    cursor: pointer;
}

.nav-links > i {
    margin-left: 4px;
}

.nav-links:hover {
    color: var(--umwelt-dark);
    border-bottom: 4px solid var(--umwelt-dark);
}

.nav-links-mobile {
    display: none;
}

.fa-bars {
    color: var(--primary);
}

.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.menu-icon {
    display: none;
}

.dropdown {
    display: inline-block;
    position: relative;
    /* transition: all 1s ease; */
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
}

.dropdown.focus .dropdown-menu {
    display: block;
    z-index: 100;
}

.dropdown.focus .nav-links {
    border: 2px solid var(--umwelt-dark);
}

.dropdown-menu .dropdown-item {
    display: block;
    background-color: transparent;
    color: var(--umwelt-dark);
    border-left: 2px solid var(--umwelt-dark);
    border-right: 2px solid var(--umwelt-dark);
    border-bottom: 2px solid var(--umwelt-dark);
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0;
    text-decoration: none;
    z-index: 100;
}

.dropdown-item:hover {
    background-color: var(--umwelt-dark);
    color: var(--primary);
}

@media (max-width: 768px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        display: flex;
        justify-content: flex-start;
        background: var(--umwelt-dark-green);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        border: 0;
    }

    .nav-links:hover {
        background-color: var(--umwelt-green);
        color: var(--primary);
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: var(--primary);
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        padding: 14px 20px;
        width: 80%;
        border: 1px solid var(--primary);
        border-radius: 4px;
        color: var(--primary);
        background-color: transparent;
        font-size: 1.5rem;
        text-decoration: none;
        transition: all 0.3s ease-out;
    }

    .nav-links-mobile:hover {
        border-color: var(--umwelt-green);
        background: var(--primary);
        color: var(--umwelt-green);
        transition: 250ms;
    }
}

.button-primary-color {
    color: var(--umwelt-dark);
}