@import '../../App.css';

.inspect-statistic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../assets/forest.jpg");
    background-size: contain;
    height: calc(100vh - 80px);
    width: 100%;
    color: var(--umwelt-dark);
}