* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

/*Phông màu chủ đạo của sản phẩm*/
:root {
    --primary: #feffff;
    --umwelt-dark: #05386b;
    --umwelt-dark-green: #2b7378;
    --umwelt-green: #3aafa9;
    --umwelt-light-green: #def2f1;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--primary);
    border-radius: 50%;
}

.radio-container input:checked ~ .checkmark,
.radio-container:hover input:checked ~ .checkmark {
    background-color: var(--umwelt-dark);
}

.radio-container:hover input ~ .checkmark {
    background-color: var(--umwelt-light-green);
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark::after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* .home,
.services,
.products,
.sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.services {
    background-image: url('/images/img-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.products {
    background-image: url('/images/img-1.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.sign-up {
    background-image: url('/images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
} */